{% extends "base.html" %}
{% block title %}Liste des arbitres{% endblock %}
{% block content %}

<h2 class="mb-4">📋 Arbitres actifs</h2>

<table class="table table-striped align-middle">
  <thead class="table-light">
    <tr>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Postes préférés</th>
    <th>Email</th>
    <th>Téléphone</th>
    <th>Note moyenne</th>


    </tr>
  </thead>
  <tbody>
    {% for a in arbitres %}
      <tr>
        <td>{{ a.user.last_name }}</td>
        <td>{{ a.user.first_name }}</td>
        <td>{{ a.user.postes_preferes }}</td>
        <td>{{ a.user.email }}</td>
        <td>{{ a.user.telephone|default:"—" }}</td>
        <td>{{ a.note_moyenne|default:"—" }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}